$blue: #463c39;
$nav-background: #040D12;

$font-color: #eee;

$border-color: 0.2rem solid #cc0000;
$button-background:#b30000;

$linear-gradient: linear-gradient(rgb(0, 0, 12, 12), #ffffff33);