@use 'colors';
@use 'fonts';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}

a, a:visited, a:link{
    color: colors.$font-color;
    text-decoration: none;
}

body{
    font-size: 2rem;
    font-family: fonts.$sans-serif;
    background-color: colors.$blue;
}